{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:react/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react"],
    "rules": {
        "react/prop-types": 0,
        "react/no-unescaped-entities": 0,
        "@next/next/no-server-import-in-page": 0
    }
}
